//*mixins*//
@import "./mixin.scss";

/*test block*/
.header {
  width: 100%;
  background-color: $silver;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2% 0 2%;
}
.navbar__brand {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      margin-right: 2rem;
    }
    p {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $white;
      @include mobile-xsm{
        font-size: 1.5rem;
      }
    }
  }
}
.nav__menu {
  @include tablet{
    position: absolute;
    width: 35%;
    height: 100vh;
    top: 0;
    left: -35%;
    z-index: 5;
    background-color: $black;
    transition: left 0.2s linear;
  }
  @include mobile{
    width: 100%;
    left: -100%;
  }
  &--open{
    left: 0;
    .menu__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      &--item{
        margin-right: 0;
        margin-bottom: 2rem;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
.menu__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  &--item {
    margin-right: 7.5rem;
    &:last-child{
      margin-right: 0;
    }
    @include notebook{
      margin-right: 4.5rem;
    }
  }
  &--link {
    text-decoration: none;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #feffff;
  }
  @include tablet{
    display: none;
  }
}
.burgerBtn{
  display: none;
  width: 5rem;
  height: 5rem;
  position: relative;
  z-index: 10;
  background-color: $white;
  span{
    height: 2px;
    width: 3rem;
    background-color: $silver;
    position: absolute;
    left: 1rem;
    top: calc(2.5rem - 2px);
    transition: width 0.1s linear, transform 0.2s linear;
    &:first-child{
      top: calc(2.5rem - 8px);
    }
    &:last-child{
      top: calc(2.5rem + 4px);
    }
  }
  &:hover{
    cursor: pointer;
  }
  &--active{
    span{
      &:first-child{
        width: 0;
      }
      &:nth-child(2){
        transform: rotate(45deg);
      }
      &:nth-child(3){
        transform: rotate(-45deg);
      }
      &:last-child{
        width: 0;
      }
    }
  }
  @include tablet{
    display: block;
  }
}
